:root{
    --cor-click: #4970BF;
    --cor-sombra: #4B7DBF;
    --cor-text: #548DBF;
    --cor-back1: #54592E;
    --cor-back2: #D9C5A0;
}
@import url(https://fonts.googleapis.com/css?family=Pacific);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Arimo", sans-serif;
    display: flex;
    justify-content: center;
    background-color: rgb(207, 53, 53);
    padding: 16px;
}
.container {
    max-width: 414px;
    width: 100%;
    background: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.header, .mensagens, .aulas, .noticias {
    padding: 16px;
    border-radius: 8px;
    grid-column: 1 / -1;
}
.header {
    background: #ff3434;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 8px;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
}
.icon-left,
.logo,
.icon-right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mensagens {
    background: #2fff40;
}
.aulas {
    background: #3b4fff;
    grid-row: 3/5;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.noticias {
    background: #f2ff41;
}

.material-symbols-outlined {
    font-size: 2em; 
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

@media (min-width: 768px) {
    .container {
        max-width: 600px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "header header"
            "mensagens mensagens"
            "aulas aulas"
            "noticias noticias";
    }
    .header { grid-area: header; }
    .mensagens { grid-area: mensagens; }
    .aulas { grid-area: aulas; }
    .noticias { grid-area: noticias; }
}